#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 820px;
  height: 100vh;
}

.contact__container {
  position: relative;
  /* padding: 40px 100px; */
}

/* title */

.contact__container .title {
  display: flex;
  justify-content: left;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact__title {
  font-size: var(--h1-font-size);
  padding-bottom: var(--mb-2);
  width: 100%;
}
.contact__title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-left: var(--mb-0-5);
  z-index: -1;
}
.contact__title span {
  margin-right: var(--mb-0-5);
}

/* content */

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #202020;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.inputBox input {
  padding: 10px;
  font-size: var(--normal-font-size);
  outline: none;
  border: 1px solid #202020;
}

.inputBox textarea {
  padding: 10px;
  font-size: var(--normal-font-size);
  outline: none;
  border: 1px solid #202020;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox button[type="submit"] {
  background: white;
  border-radius: 5px;
  color: #202020;
  border: 1px solid #202020;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  font-size: var(--normal-font-size);
  -webkit-transition: color 0.3s, background-color 1s;
  -moz-transition: color 0.3s, background-color 1s;
  -ms-transition: color 0.3s, background-color 1s;
  -o-transition: color 0.3s, background-color 1s;
  transition: color 0.3s, background-color 1s;
}

.inputBox button[type="submit"]:hover {
  background-color: gray;
  color: white;
}

.inputBox ::placeholder {
  color: #999;
}

/* info */

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-right: 15px;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
}

.sci li:hover {
  transform: translateY(-0.25rem);
}

.sci li a {
  font-size: 2em;
}

.sci li a:hover {
  color: gray;
}

/* map */

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* responsive */

@media (max-width: 819px) {
  #contact {
    display: block;
    margin-top: 100px;
  }
  .contact__container {
    padding: 20px;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 30px;
  }
  .map {
    min-height: 300px;
    padding: 0;
  }
}
