/* blog page nav buttons */

.blog__container {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 700px;
  height: 100vh;
}

.blog__nav_bttns {
  position: relative;
  display: flex;
  /* height: 60px; */
  margin: 0 auto;
  width: 10rem;
  justify-content: space-between;
  z-index: 5;
}

.blog__nav_bttn {
  background: white;
  padding: 15px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: none;
  cursor: pointer;
}

.blog__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55%;
}

.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

/* title */

.blog__title__container {
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__title {
  font-size: var(--h1-font-size);
  padding-bottom: var(--mb-0-25);
  width: 100%;
}
.blog__title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-left: var(--mb-0-5);
  z-index: -1;
}
.blog__title span {
  margin-right: var(--mb-0-5);
}

@media screen and (max-width: 568px) {
  .blog__container {
    display: block;
    padding-top: 100px;
  }
  .blog__title__container {
    width: auto;
    margin-bottom: 100px;
  }
  .blog__nav_bttns {
    padding-top: 100px !important;
    padding-bottom: 30px !important;
  }
  .blog__content {
    display: block;
    height: 100%;
  }
}

@media screen and (min-width: 569px) and (max-width: 819px) {
  .blog__container {
    display: block;
  }
  .blog__title__container {
    width: 100%;
    padding-bottom: 50px;
  }
  .blog__container {
    padding-left: var(--mb-2);
    padding-right: var(--mb-2);
  }
  .blog__nav_bttns {
    padding-top: 80px !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
  .blog__title__container {
    width: 100%;
    padding-bottom: 30px;
  }
  .blog__nav_bttns {
    padding-top: 50px !important;
  }
}
